body {
  background-image: url(http://r-2pa.com/img/page_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1a1a1a;
}
.main {
  margin-top: 20px;
  color: #ffffff;
  font-size: 30px;
  font-family: 'VT323', monospace;
}
.logo {
  float: left;
  width: 80px;
  margin-left: 20px;
  margin-top: -20px;
}
nav {
  float: right;
  margin-right: 20px;
}
section {
  text-align: center;
  color: #ffffff;
  font-family: 'VT323', monospace;
}
#foot {
  margin-top: 30px;
  color: #ffffff;
  text-align: center;
}
footer li {
  display: inline;
  padding: 30px;
  font-family: 'VT323', monospace;
}
